main {
    max-width: 80%;
    margin: auto;
    padding: 100px;
  }
  body {
  margin: auto;
  }
  
  .sfondo {
  position: absolute;
  margin-left: 588px;
  margin-top: 75px;
  
  }
  
  .sedi{
    color: #fff;
    text-decoration: none;
  }
  .dona{
    color: #fff;
    text-decoration: none;
  }
  
  .contatti{
    color: #fff;
    text-decoration: none;
  }
  
  .dona1{
    color: black;
    text-decoration: none;
  }
  
  a:hover.dona1{
    font-size: 13pt;
  }

  .logo h1 {
  background-color: #D9700E;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: 18px;
  font-family: 'bebas neue';
  padding: 4px;
  margin-top: 5px;
  }

  .box1{
    width: 300px;
    margin-top: -10px;
    left: 0px;
    margin-left: -50px;
  }

  .intro-attuali p{
  font-family: 'League Spartan';
  line-height: 120%;
  margin-left: 300px;
  font-size: 14pt;
  margin-top: 40px;
  }

  .intro-inprogramma p{
    font-family: 'League Spartan';
    line-height: 120%;
    margin-left: 300px;
    font-size: 14pt;
    margin-top: 40px;
    }

    .intro-passate p{
        font-family: 'League Spartan';
        line-height: 120%;
        margin-left: 300px;
        font-size: 14pt;
        margin-top: 40px;
        }

.lista-mostre {
    margin-top: 100px;
    line-height: 250%;
    margin-left: 80px;
}

.mostre-attuali{
  font-size: 10pt;
    font-family: 'bebas neue';
    color: #D9700E;
    margin-top: 80px;
    padding-top: 10px;
    padding-left: 138px;
    position: absolute;
}

.mostre-inprogramma-mostre {
  font-size: 8pt;
    font-family: 'bebas neue';
    color: #D9700E;
    margin-top: 20px;
    padding-top: 80px;
    padding-left: 127px;
    position: absolute;
}

.mostre-passate {
  font-size: 10pt;
    font-family: 'bebas neue';
    color: #D9700E;
    margin-top: 10px;
    padding-top: 80px;
    padding-left: 138px;
    position: absolute;
}

#radical-she {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#radical-she a{
    color: #D9700E;
  }
  #radical-she a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #countless-cities2 {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#countless-cities2 a{
    color: #D9700E;
  }
  #countless-cities2 a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #the-art {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#the-art a{
    color: #D9700E;
  }
  #the-art a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #city-rebels {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#city-rebels a{
    color: #D9700E;
  }
  #city-rebels a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #countless-cities1 {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#countless-cities1 a{
    color: #D9700E;
  }
  #countless-cities1 a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #detroit {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#detroit a{
    color: #D9700E;
  }
  #detroit a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #what {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#what a{
    color: #D9700E;
  }
  #what a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #commonality {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#commonality a{
    color: #D9700E;
  }
  #commonality a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #sponsor {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#sponsor a{
    color: #D9700E;
  }
  #sponsor a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

  #melodrama {
    font-size: 15pt;
      font-family: 'league spartan';
      color: #D9700E;
      margin-top: 100px;
  }

#melodrama a{
    color: #D9700E;
  }
  #melodrama a:hover {
    color: #D9700E;
    font-size: 16pt;
  }

.mostre-mostre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    font-family: 'bebas neue';
    }

    .imgmostre-mostre {
        margin: auto;
        max-width: 400px;
      }
      
      .boxmostre-mostre {
        background-color: #d9700e30;
        height: 220px;
        margin-top: 40px;
        margin-left: 0px;
        padding-bottom: 122px;
        padding-left: 40px;
        padding-top: 0px;
        width: 350px;
      }
      
      .boxmostre-mostre p {
        font-family: 'league spartan';
        font-weight: bold;
      }
      
      .column-attuale-mostre {
        margin-top: 90px;
        color: #d9700e;
        line-height: 130%;
        width: 80%;
      }
      
      .column-inprogramma-mostre {
        margin-top: 80px;
        color: #d9700e;
        line-height: 130%;
        width: 80%;
      }
  
  a:hover {
  font-weight: bold;
  font-size: 18pt;
  }
  
  a:hover#Home {
  color: #ba2575;
  }
  
  a:hover#chi-siamo {
  color: #b9a833;
  }
  
  a:hover#cosa-facciamo {
  color: #d9700e;
  }
  
  a:hover#mostre {
  color: #d9700e;
  }
  
  a:hover#iniziative {
  color: #d9700e;
  }
  
  a:hover#programmi {
  color: #d9700e;
  }
  
  .tagline-mostre {
  color: #D9700E;
  line-height: 200%;
  padding-top: 300px;
  padding-bottom: 50px;
  }
  .tagline-mostre h1 {
    font-size: 30pt;
    font-family: 'bebas neue';
    margin-top: 40px;
    margin-bottom: 0px;
    }
    .tagline-mostre h2 {
      font-size: 14pt;
      font-family: 'league spartan';
      }
  
  .linea-arancionedx {
  max-width: 100%; 
  background-color:#D9700E;
  margin-top: -10px;
  padding-left: 1000px;
  border: 1px dashed #fff;
  position: absolute;
  right: 0px;
  }

  
  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  color: black;
  }
  
  header h1 {
  font-size: 21px;
  }
  
  nav {
  margin:0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  
  }
  
  nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  font-family: 'bebas neue';
  font-size: 14pt;
  }
  
  nav ul li {
  position: relative;
  }
  
  nav ul a {
  color: black;
  text-decoration: none;
  }
  
  .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 18px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  }
  
  .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #D9700E;
  }
  
  .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  }
  
  .checkbox {
  position: absolute;
  display: none;
  height: 32px;
  width: 32px;
  top: 16x;
  right: 16px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  }
  
  /*@media only screen and (max-width: 600px) {*/
  .checkbox {
    display: block;
  }
  nav ul {
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    opacity: 0;
    background-color: #fff;
    width: 200px;
    height: 250px;
    justify-content: center;
    text-align: center;
    z-index: 999;
  }
  
  input[type="checkbox"]:checked ~ nav ul {
    opacity: 100;
  }
  
  .hamburger-lines {
    opacity: 100;
    padding: 5px 10px;
  }
  
  ul li {
    display: block;
  }
  
   .submenu {
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 0;
    margin: 0;
   }
  /*}*/
  
  .top-footer{
  background-color: #D9700E90;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'league spartan';
  margin-top: 100px;
  }
  
  .column-left {
  width: 60%;
  padding: 10px;
  color: #1E1E1E;
  box-sizing: border-box;
  }
  
  .column-right {
    width: 30%;
    padding: 20px;
    text-align: right;
    color:#1E1E1E;
    box-sizing: border-box;
  }
  
  .column-right h1{
    margin-bottom: 3px;
  }
  
  .bottom-footer{
  background-color:#D9700E;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'bebas neue';
  font-size: 16pt;
  }
  
  .column-33{
  flex: 33,3%;
  padding: 10px;
  }
  
  .column-right, .column-left {
  width: 100%;
  margin-bottom: 10px;
  }
  
  footer ul a {
  color: #1E1E1E;
  }
  
  a:hover#scopri-come {
  color: #1E1E1E;
  font-size: 13pt;
  }
  
  @media only screen and (max-width: 900px) {
  body {
    margin: 20px;
  }
  .intro-mostre p, .intro-inprogramma p, .intro-passate p{
    margin-top: 50px;
    margin-left: 0px;
    max-width: 100%;
  }

  .linea-arancionedx {
    max-width: 100%; 
    padding-left: 180px;
   }
  
  
   .mostre-mostre {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.lista-mostre {
    margin-left: 0px;
}

.imgmostre-mostre {
  max-width: 100%;
  margin-left: 25px;


}
.boxmostre-mostre {
  background-color: #d9700e30;
  height: 150px;
  margin-top: 40px;
  margin-left: 0px;
  margin-bottom:20px;
  padding-left: 10px;
  padding-top: 0px;
  width: 300px;
}
.boxmostre-mostre p{
  margin-left: 25px;
  font-size: 11pt;
}

  .sfondo {
  width: 70%;
  position: absolute;
  right: 26px;
  top: 18px;
  }
  
  .tagline-mostre {
  margin-top: 100px;
  }
  
  .sfondo, .tagline-mostre {
  display: flex;
  flex-direction: column;
  }

  .box1{
    width: 300px;
    margin-top: 50px;
    left: 0px;
    margin-left: -50px;
  }

.mostre-attuali {
    margin-top: 140px;
}

.mostre-inprogramma-mostre {
    margin-top: 80px;
}

.mostre-passate {
    margin-top: 70px;
}

  } 
  .content-footer, .content-footer-bottom{
  display: flex;
  flex-direction: row;
  }
  
  header, .content-footer, .content-footer-bottom{
  width: 1200px; 
  margin: auto;
  }
  
  .content-footer-bottom{
  justify-content: space-between;
  }
  