main {
    max-width: 80%;
    margin: auto;
    padding: 100px;
  }
  body {
  margin: auto;
  }

  .sedi{
    color: #fff;
    text-decoration: none;
  }
  .dona{
    color: #fff;
    text-decoration: none;
  }
  
  .contatti{
    color: #fff;
    text-decoration: none;
  }
  
  .dona1{
    color: black;
    text-decoration: none;
  }
  
  a:hover.dona1{
    font-size: 13pt;
  }

  .sfondo {
  position: absolute;
  margin-left: 588px;
  margin-top: 75px;
  
  }
  img {
  max-width: 100%;
  display: block;
  height: auto;
  }
  
  .logo h1 {
  background-color: #d9700e;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: 18px;
  font-family: 'bebas neue';
  padding: 4px;
  margin-top: 5px;
  }

  .quadratini-piccoli{
    width: 60px;
    position: absolute;
    left: 35px;
  }
 
  .intro-passate10 {
  font-family: 'League Spartan';
  line-height: 120%;
  margin-top: 100px;
  font-size: 14pt;
  width: 60%;
  }
  
  .riferimento {
    font-family: 'bebas neue';
    color: #d9700e;
    font-size: 18pt;
  }
  
  .tagline-passate10 h1 {
    font-family: 'bebas neue';
  }

  .tagline-passate10 h2 {
    font-family: 'league spartan';
  }

  a:hover {
  font-weight: bold;
  font-size: 18pt;
  }
  
  a:hover#Home {
  color: #ba2575;
  }
  
  a:hover#chi-siamo {
  color: #b9a833;
  }
  
  a:hover#cosa-facciamo {
  color: #d9700e;
  }
  
  a:hover#mostre {
  color: #d9700e;
  }
  
  a:hover#iniziative {
  color: #d9700e;
  }
  
  a:hover#programmi {
  color: #d9700e;
  }
  
  .tagline-passate10 {
  color: #d9700e;
  line-height: 200%;
  padding-top: 300px;
  padding-bottom: 50px;
  }

  .tagline-passate h1 {
    font-size: 30pt;
    font-family: 'bebas neue';
    margin-top: 40px;
    margin-bottom: 0px;
    }
    .tagline-passate h2 {
      font-size: 14pt;
      font-family: 'league spartan';
      }
  
  .linea-arancionedx {
  max-width: 100%; 
  background-color:#d9700e;
  margin-top: -30px;
  padding-left: 1000px;
  border: 1px dashed #fff;
  position: absolute;
  right: 0px;
  }
  .linea-arancionesx {
    max-width: 100%; 
    background-color:#d9700e;
    margin-bottom: 90px;
    margin-top: 60px;
    padding-right: 690px;
    border: 1px dashed #fff;
    position: absolute;
    left: 0px;
    }
  
    .link-passate10 {
      font-family: 'league spartan';
      text-decoration: none;
      color: #d9700e;
      padding-left: 190px;
      margin-bottom: 0px;
      margin-top: 50px;
    }

  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  color: black;
  }
  
  header h1 {
  font-size: 21px;
  }
  
  nav {
  margin:0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  
  }
  
  nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  font-family: 'bebas neue';
  font-size: 14pt;
  }
  
  nav ul li {
  position: relative;
  }
  
  nav ul a {
  color: black;
  text-decoration: none;
  }
  
  .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 18px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  }
  
  .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #d9700e;
  }
  
  .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  }
  
  .checkbox {
  position: absolute;
  display: none;
  height: 32px;
  width: 32px;
  top: 16x;
  right: 16px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  }
  
  .img-passate10 {
  margin: auto;
  max-width: 550px;
  margin-left: 0px;
  margin-top: 50px;
  }
  
  /*@media only screen and (max-width: 600px) {*/
  .checkbox {
    display: block;
  }
  nav ul {
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    opacity: 0;
    background-color: #fff;
    width: 200px;
    height: 250px;
    justify-content: center;
    text-align: center;
    z-index: 999;
  }
  
  input[type="checkbox"]:checked ~ nav ul {
    opacity: 100;
  }
  
  .hamburger-lines {
    opacity: 100;
    padding: 5px 10px;
  }
  
  ul li {
    display: block;
  }
  
   .submenu {
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 0;
    margin: 0;
   }
  /*}*/
  
  .top-footer{
  background-color: #d9700e90;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'league spartan';
  margin-top: 100px;
  }
  
  .column-left {
  width: 60%;
  padding: 10px;
  color: #1E1E1E;
  box-sizing: border-box;
  }
  
  .column-right {
    width: 30%;
    padding: 20px;
    text-align: right;
    color:#1E1E1E;
    box-sizing: border-box;
  }
  
  .column-right h1{
    margin-bottom: 3px;
  }
  
  .bottom-footer{
  background-color:#d9700e;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'bebas neue';
  font-size: 16pt;
  }
  
  .column-33{
  flex: 33,3%;
  padding: 10px;
  }
  
  .column-right, .column-left {
  width: 100%;
  margin-bottom: 10px;
  }
  
  footer ul a {
  color: #1E1E1E;
  }
  
  a:hover#scopri-come {
  color: #1E1E1E;
  font-size: 13pt;
  }

  @media only screen and (max-width: 900px) {
  body {
    margin: 20px;
  }
  .intro-passate10 {
    margin-top: 50px;
    width: 100%;
  }

  .linea-arancionedx {
    max-width: 100%; 
    padding-left: 350px;
   }
  
   .linea-arancionesx {
    max-width: 100%; 
    padding-right: 460px;
   }
  
  .img-passate10 {
  width: 100%;
  margin-left: 0px;
  }

  .sfondo {
  width: 70%;
  position: absolute;
  right: 26px;
  top: 18px;
  }
  
  .tagline-passate10 {
  margin-top: 150px;
  }
  
  .sfondo, .tagline-passate9 {
  display: flex;
  flex-direction: column;
  }
  
  .link-passate10 {
    font-family: 'league spartan';
    text-decoration: none;
    color: #d9700e;
    padding-left: 180px;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 11pt;
  }

  a:hover.link-passate10 {
    font-size: 14pt;
  }

  } 
  .content-footer, .content-footer-bottom{
  display: flex;
  flex-direction: row;
  }
  
  header, .content-footer, .content-footer-bottom{
  width: 1200px; 
  margin: auto;
  }
  
  .content-footer-bottom{
  justify-content: space-between;
  }
  